name: Documentation

on:
  release:
    types: [published]
    
env:
  DEVELOPER_DIR: /Applications/Xcode_12_beta.app/Contents/Developer

jobs:
  deploy_docs:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Publish Jazzy Docs
      uses: steven0351/publish-jazzy-docs@v1
      with:
        personal_access_token: ${{ secrets.DOCUMENTATION }}
